@charset "UTF-8";

*, :after, :before{
  box-sizing: border-box;
}

.html{
  position: relative; 
}  

.body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background: #f3f3f3; 
}

.login-form--register{
  position: absolute;
  margin-top:150px;
  width: inherit;
  height: 400px;
  text-align: center;
}


.form-container{
  position: absolute; 
  margin: auto;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  width: 380px;
  height: 585px;
  overflow: hidden; 
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2), 0px 0px 50px rgba(0, 0, 0, .2);
  border-radius: 30px;
  background: #f3f3f3; 
} 

.choose-form{
  position: absolute;
  margin: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  width: inherit;
  height: inherit;
  z-index: 5;
}

.buttons__signup--login-form{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  top: -66px; 
}

.login-form{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 400px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; 
}

.form-wrapper{
  margin: 0 auto;
  width: 250px;
  height: 250px;
  display: block;
}

.form-wrapper__label{
  display: block;
  text-align: left;
  text-transform: uppercase;
  text-decoration: initial;
  letter-spacing: .1em; 
  font-size: 12px;
  font-weight: 600;
  color: #8dabfb; 
}

.form-wrapper__input{
  margin: 5px 0 10px 0;
  width: 250px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  font-size: 12px;
  border-bottom: 1px solid #8dabfb;
  opacity: .8;
}

.form-wrapper__input::placeholder{
  color: #8dabfb;
  opacity: .8;
} 

.login-form__forgot-password{
  display: block;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .05em;
  font-size: 12px;
  font-weight: 500;
  color: #8dabfb;
}

.login-form__forgot-password:hover{
  opacity: 0.5;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.buttons__signup--login-form{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  top: -66px; 
}


/* ===========================
    Register Form
============================ */

.buttons__signup--sign-up-form{
  top: 5px;  
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
