<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace는 Mapper 인터페이스와 연동할 때 사용 -->
<!-- resultType="패키지.밑에있는 무언가" -->
<mapper namespace="login.LoginMapper">
	<select id="findUserById" parameterType="String" resultType="sign">
		SELECT
			ID,
			USER_ID,
			NAME,
			EMAIL,
			REGISTER_DATE,
			GRADE,
			PASSWORD
		FROM
			BLOG_USER
		WHERE
			USER_ID=#{id}
	</select>

</mapper>